<div class="am-g">
    <br />
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <h3>注册</h3>
        <hr>
        <form method="post" class="am-form">
            <label for="email">邮箱:</label>
            <input type="email" name="" id="email" value=""  class="am-form-field am-input-sm am-round" minlength="3" placeholder="输入邮箱（至少 3 个字符）" required>
            <br>
            <label for="password">密码:</label>
            <input type="password" name="" id="password" value="" class="am-form-field am-input-sm am-round" minlength="3" placeholder="输入密码（至少 3 个字符）" required>
            <br>
            <label for="password">验证码:</label>
            <input type="password" name="" id="password" value="" class="am-form-field am-input-sm am-round" minlength="3" placeholder="输入验证码（至少 3 个字符）" required>
            <br />
            <div class="am-cf">
                <input type="submit" name="" value="注 册" class="am-btn am-btn-primary am-btn-sm am-fl am-round">
                <input type="submit" name="" value="登 录" class="am-btn am-btn-default am-btn-sm am-fr am-round">
            </div>
        </form>

    </div>
</div>